@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  position: fixed;
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  -webkit-app-region: drag;
}
.home-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f7faff50;
  .body-container {
    display: flex;
    height: calc(100% - 45px);
    .main-container {
      -webkit-app-region: no-drag;
      width: 100%;
      height: 100%;
      background-color: #d6dbe4;
    }
    .left-nav {
      width: 70px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      box-shadow: 1px 1px 2px #0002;
      z-index: 1;
      .tools-list {
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        gap: 10px;
        .active-box {
          margin-top: 15px;
          z-index: 2;
          position: absolute;
          left: 0;
          height: 40px;
          width: 5px; /* Độ rộng của active box */
          border-radius: 0px 10px 10px 0px;
          background-color: #000000; /* Màu của active box */
          transition: top 0.3s ease; /* Hiệu ứng di chuyển */
        }
        .items {
          display: flex;
          align-items: center;
          position: relative;
          color: #213547;
          user-select: none;
          cursor: pointer;
          transition: all 0.3s;
          -webkit-app-region: no-drag;
          .box {
            height: 50px;
            padding: 5px;
            margin-right: 3px;
            margin-left: 3px;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: -webkit-fill-available;
            transition: all 0.3s;
            border-radius: 8px;
            color: #949ca3;
            .name {
              border-radius: 8px;
              font-size: 0.6rem;
              font-weight: 500;
              white-space: nowrap;
            }
            .logo {
              display: flex;
              flex: 1;
              align-items: center;
              justify-content: center;
              font-size: 1.2rem;
              img {
                width: 55%;
              }
            }
            &:hover {
              color: #333333;
              background-color: #eee;
            }
          }
          &.active {
            .box {
              color: #000000;
              &:hover {
                background-color: #eee;
              }
            }
          }
        }
      }
    }
  }
  .top-container {
    z-index: 2;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
    -webkit-app-region: drag;
    box-shadow: 1px 1px 2px #0002;
    .left-navigation {
      display: flex;
      .logo {
        -webkit-app-region: no-drag;
        display: flex;
        font-weight: 600;
        padding: 0px 10px;
        color: #0071b8;
        gap: 8px;
        align-items: center;
        user-select: none;
        .picture {
          display: flex;
          width: 30px;
          font-size: 1rem;
          background-color: #ced8eb;
          height: 30px;
          border-radius: 8px;
          align-items: center;
          justify-content: center;
          color: #0043fd;
        }
      }
    }
    .right-navigation {
      display: flex;
      gap: 20px;
      align-items: center;
      font-size: 0.8rem;
      .options-bar {
        display: flex;
        gap: 15px;
        padding: 10px;
        align-items: center;
        .items {
          -webkit-app-region: no-drag;
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          cursor: pointer;
          color: #999;
          transition: all 0.3s;
          &:hover {
            color: #000;
          }
          .logo {
            position: relative;
            font-size: 1rem;
            z-index: 2;
          }
          .value {
            z-index: 1;
            position: absolute;
            font-size: 0.6rem;
            line-height: 10px;
            font-weight: 500;
            bottom: 0;
            right: 0;
            background-color: #0071b8;
            color: #fff;
            padding: 2px 4px;
            border-radius: 5px;
          }
        }
      }
      .status-bar {
        display: flex;
        background-color: #fff;
        border: 1px solid #c9c9c9;
        height: 35px;
        border-radius: 10px;
        color: #b8b1ad;
        -webkit-app-region: no-drag;
        overflow: hidden;
        .items {
          display: flex;
          align-items: center;
          gap: 5px;
          padding: 0px 8px;
          cursor: pointer;
          transition: all 0.3s;
          .name {
            display: flex;
            white-space: nowrap;
          }
          &:hover {
            background-color: rgba(187, 187, 187, 0.2);
            color: #000;
          }
        }
      }
      .search-bar {
        -webkit-app-region: no-drag;
        display: flex;
        align-items: center;
        .search-box {
          display: flex;
          height: 35px;
          background-color: #fff;
          border: 1px solid #c9c9c9;
          padding: 4px 10px 3px 10px;
          border-radius: 10px;
          label {
            color: #999;
          }
          input {
            padding: 3px 8px;
            width: 200px;
            transition: all 0.3s;
            outline: none;
            &:focus {
              width: 230px;
            }
          }
        }
      }
      .tools-bar {
        -webkit-app-region: no-drag;
        display: flex;
        user-select: none;
        .items {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          transition: all 0.3s;
          color: #878787;
          &:hover {
            cursor: pointer;
            color: #000;
            background-color: #0003;
          }
          &.close {
            &:hover {
              color: #be0000;
              cursor: pointer;
              background-color: #ffcbcb;
            }
          }
        }
      }
    }
  }
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0c2137;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .text {
      font-weight: 800;
      color: #fff;
      font-size: 0.9rem;
      animation: pulsOut2 1.8s ease-in-out infinite;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      animation: pulsOut 1.8s ease-in-out infinite;
      filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
    }
    &:before {
      width: 100%;
      padding-bottom: 100%;
      box-shadow: inset 0 0 0 1rem #fff;
      animation-name: pulsIn;
    }
    &:after {
      width: calc(100% - 2rem);
      padding-bottom: calc(100% - 2rem);
      box-shadow: 0 0 0 0 #fff;
    }
  }
}

.login-page {
  -webkit-app-region: drag;
  display: flex;
  flex: 1;
  user-select: none;
  .video-container {
    -webkit-app-region: no-drag;
    display: flex;
    flex: 1;
    background-color: #dbe2e7;
    margin: 8px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #0003;
  }
  .login-container {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 320px;
    background-color: #fff;
    font-size: 0.9rem;
    .login-box {
      -webkit-app-region: no-drag;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: -webkit-fill-available;
      .register,
      .forget-pass {
        text-align: center;
        color: #0066f4;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 0.8rem;
        &:hover {
          text-decoration: underline;
        }
      }
      .exit {
        text-align: center;
        color: #c1c1c1;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          text-decoration: underline;
        }
      }
      .header {
        font-size: 2rem;
        font-weight: 500;
        color: #0093ef;
        text-transform: uppercase;
      }
      .hi {
        font-size: 0.8rem;
        color: #0071b8;
      }
      .with-zalo {
        button {
          padding: 8px;
          border-radius: 8px;
          width: -webkit-fill-available;
          outline: none;
          background-color: #fff;
          color: #4f46e5;
          border: 1px solid #4f46e5;
          height: 38px;
          transition: all 0.3s;
          font-weight: 500;
          text-transform: uppercase;
          &:hover {
            cursor: pointer;
            background-color: #e3eaff;
          }
        }
      }
      .login-btn {
        button {
          padding: 8px;
          border-radius: 8px;
          width: -webkit-fill-available;
          outline: none;
          background-color: #4f46e5;
          color: #fff;
          border: 1px solid #e5e7eb;
          height: 42px;
          transition: all 0.3s;
          font-weight: 500;
          text-transform: uppercase;
          &:hover {
            cursor: pointer;
            background-color: #5f87ff;
          }
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .items {
          display: flex;
          flex-direction: column;
          gap: 3px;
          .name {
            font-weight: 500;
            color: #0071b8;
          }
          .value {
            input {
              padding: 0px 8px;
              border-radius: 8px;
              border: 1px solid #c3c7d0;
              width: -webkit-fill-available;
              height: 40px;
              outline: none;
              &::placeholder {
                color: #c3c3c3;
              }
            }
          }
        }
      }
    }
  }
}
.department-tab {
  animation: flyInFromRight 0.3s ease-out;
  @apply flex flex-1 flex-col p-2 gap-2;
  overflow: auto;
  .department-name {
    font-weight: 500;
    font-size: 1rem;
  }
  .feed-box {
    display: flex;
    gap: 10px;
    height: 300px;
    .news-box {
      background-color: #fff;
      display: flex;
      flex: 1;
      border-radius: 10px;
      box-shadow: 1px 1px 2px #0003;
    }
    .olds-box {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1;
      .items {
        display: flex;
        flex: 1;
        gap: 10px;
        width: -webkit-fill-available;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 2px #0003;
        .logo {
          max-width: 120px;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          color: #999;
        }
        .details {
          display: flex;
          flex-direction: column;
          flex: 1;
          padding: 5px;
          .title {
            font-weight: 500;
            font-size: 1rem;
          }
          .description {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

.pd3 {
  padding: 3px;
}
.g5 {
  gap: 5px;
}
.g2 {
  gap: 2px;
}
.g3 {
  gap: 3px;
}
.g4 {
  gap: 4px;
}
.fc {
  display: flex;
  flex-direction: column;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #fff;
    opacity: 1;
  }

  50%,
  100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}

@keyframes pulsOut2 {
  0% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes pulsOut {
  0%,
  50% {
    box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }

  100% {
    box-shadow: 0 0 0 1rem #fff;
    opacity: 1;
  }
}
.highlight {
  background-color: yellow;
}
.main-sub {
  width: 100%;
  height: 100%;
  &.fly-in,
  .fly-in {
    animation: flyInFromRight 0.3s ease-out;
  }
  .white-nav {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #0003;
    padding: 5px;
    button,
    label {
      font-size: 0.8rem;
      border-radius: 4px;
      padding: 6px 8px;
      border: 1px solid #d3d3d3;
      background-color: #fff;
      outline: none;
      font-weight: 400;
      cursor: pointer;
    }
    .left {
      display: flex;
      gap: 5px;
    }
    .right {
      display: flex;
      gap: 5px;
      margin-left: auto;
    }
  }
  .sub-layout {
    display: flex;
    width: -webkit-fill-available;
    height: 100%;
    .right-sub {
      display: flex;
      width: -webkit-fill-available;
      height: 100%;
    }
    .left-sub {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      box-shadow: 1px 1px 2px #0003;
      width: 230px;
      .list-department {
        display: flex;
        flex-direction: column;
        .items {
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          padding: 10px 8px;
          font-size: 0.8rem;
          transition: all 0.3s;
          .name {
            font-weight: 500;
          }
          .employee {
            color: #999;
          }
          &:hover {
            background-color: #eee;
          }
          &.actives {
            background-color: #e8f1f6;
          }
        }
        .department {
          display: flex;
          flex-direction: column;
          gap: 4px;
        }
        .roles {
          display: flex;
          flex-direction: column;
          background-color: #e5edf1;
          border-radius: 8px;
          padding: 4px;
          margin: 4px 5px 4px 8px;
          gap: 4px;
          .role {
            font-size: 0.8rem;
            display: flex;
            white-space: nowrap;
            color: #757575;
            padding: 4px 8px;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.3s;
            align-items: center;
            .role-name {
              max-width: 180px;
              overflow: hidden;
              text-overflow: ellipsis;
              transition: all 0.3s;
            }
            .role-count {
              margin-left: auto;
              width: 40px;
              text-align: right;
              color: #c0c0c0;
            }
            .active {
              height: 0px;
              width: 5px;
              background-color: #000;
              border-radius: 5px;
              transition: all 0.3s;
            }
            &.active {
              color: #000;
              .role-name {
                margin-left: 5px;
              }
              .role-count {
                color: #333;
              }
              .active {
                height: 15px;
              }
            }
            &:hover {
              color: #000;
              .role-name {
                margin-left: 5px;
              }
              .role-count {
                color: #333;
              }
            }
          }
        }
      }
      .search-box {
        box-shadow: 1px 1px 2px #0003;
        padding: 5px;
        font-size: 0.8rem;
        display: flex;
        gap: 10px;
        align-items: center;
        .search-box-inner {
          display: flex;
          align-items: center;
          label {
            color: #999;
          }
        }
        input {
          padding: 6px 8px;
          border-radius: 8px;
          outline: none;
          transition: all 0.3s;
          width: -webkit-fill-available;
          &:focus {
            border-color: #686868;
          }
        }
        i {
          padding: 0px 10px;
        }
      }
    }
  }
}

@keyframes flyInFromRight {
  from {
    transform: translateX(40px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.employeer-table {
  background-color: #fff;
  border-radius: 8px;
  table {
    width: 100%;
    thead {
      tr {
        th {
          cursor: pointer;
          font-size: 0.7rem;
          white-space: nowrap;
          text-align: left;
          padding: 8px 5px;
          user-select: none;
        }
      }
    }
    tbody {
      tr {
        border-top: 1px solid #e1e1e1;
        td {
          padding: 2px 5px;
          white-space: nowrap;
          font-size: 0.8rem;
          .on {
            color: #34c400;
          }
          .off {
            color: #b3b3b3;
          }
          .work {
            color: #21c300;
          }
          .notwork {
            color: rgb(196, 3, 0);
          }
          &.isOut {
            font-size: 0.7rem;
            font-weight: 700;
            padding: 5px 8px;
            font-style: italic;
            text-align: center;
          }
          button {
            padding: 6px 8px;
            font-size: 0.7rem;
            outline: none;
            border: hidden;
            transition: all 0.3s;
            &.edit {
              background-color: #74a4c1;
              color: #fff;
              &:hover {
                background-color: #0066f4;
              }
            }
            &.remove {
              background-color: #c17c74;
              color: #fff;
              &:hover {
                background-color: #c71502;
              }
            }
          }
        }
      }
    }
  }
}
.scrolling {
  width: 100%;
  overflow: auto !important;
}
.sub-main {
  @apply flex flex-1 flex-col gap-2 p-2;
  .h2 {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    align-items: center;
    .right {
      button {
        display: flex;
        gap: 6px;
        align-items: center;
        padding: 6px 12px;
        font-size: 13px;
        color: #999;
        cursor: pointer;
        &:hover {
          color: #000;
          border: 1px solid #000;
        }
      }
    }
  }
  .white-box {
    font-size: 0.8rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #0003;
    overflow: hidden;
    .options {
      display: flex;
      padding: 3px;
    }
    .config-item {
      display: flex;
      padding: 5px 8px;
      justify-content: space-between;
      border-bottom: 1px solid #0002;
      .details {
        display: flex;
        flex-direction: column;
        .name {
          font-weight: 600;
          display: flex;
        }
        .description {
          max-width: 400px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #999;
          white-space: nowrap;
          font-size: 0.8rem;
        }
      }
    }
    .sub-head {
      @apply flex gap-2 items-center;
      box-shadow: 1px 1px 3px #0003;
      padding: 8px;
      .shiftType {
        font-weight: bold;
      }
    }
    .sub-main {
      padding: 0px;
    }
    table {
      width: 100%;
      thead {
        th {
          text-align: left;
          font-weight: 500;
          padding: 8px 5px;
          border-left: 1px solid #e9e9e9;
        }
      }
      tbody {
        border-radius: 10px;
        tr {
          td {
            border-top: 1px solid #e9e9e9;
            border-left: 1px solid #e9e9e9;
            input {
              padding: 5px;
              border: hidden;
              outline: none;
            }
            input[type="number"],
            input[type="time"] {
              border-radius: 0px;
              width: 100px;
            }
            .breakTime {
              justify-content: center;
              align-items: center;
              display: flex;
              gap: 5px;
            }
            .timeline-bar {
              min-width: 400px;
              display: flex;
              align-items: center;
              padding: 0px 5px 0px 30px;
              .box {
                display: flex;
                align-items: center;
                flex: 1;
                &.ot {
                  flex: none;
                }
              }
              .add-items {
                width: 15px;
                height: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.5rem;
                border-radius: 40%;
                color: #003e94;
                cursor: pointer;
                transition: all 0.3s;
                background-color: #d4e6ff;
                border: 1px solid #003e94;
                &:hover {
                  background-color: #191a1b;
                  border: 1px solid #191a1b;
                  color: #fff;
                }
              }
              .start {
                background-color: #0066f4;
                margin-left: -6px;
                width: 15px;
                border-radius: 50%;
                height: 15px;
              }
              .end {
                color: #fc8f00;
                margin-left: -6px;
              }
              .items {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: -webkit-fill-available;
                gap: 4px;
                input {
                  border: 1px solid #dadada;
                  height: 20px;
                  font-size: 0.7rem;
                  font-weight: 500;
                  text-align: center;
                  border-radius: 5px;
                  outline: none;
                }
                .split {
                  height: 3px;
                  background-color: #0066f4;
                  width: -webkit-fill-available;
                }
                &:nth-child(2) {
                  .split {
                    background-color: #2dadc4;
                  }
                }
                &:nth-child(2) {
                  .split {
                    background-color: #2dadc4;
                  }
                }
                .time {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  height: 25px;
                  width: -webkit-fill-available;
                  input[type="text"] {
                    width: 50px;
                    &:first-child {
                      margin-left: -35px;
                      margin-bottom: 2px;
                    }
                  }
                }
                .rage {
                  display: flex;
                  align-items: center;
                  height: 25px;
                  input[type="text"] {
                    width: 50px;
                  }
                  .delete {
                    display: flex;
                    align-items: center;
                    font-size: 0.7rem;
                    color: #e49393;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover {
                      color: #be0000;
                    }
                  }
                }
                &.ot {
                  width: 80px;
                  .split {
                    background-color: #fc8f00;
                  }
                  .time {
                    i {
                      margin-left: auto;
                      margin-right: -5px;
                      color: #f5a952;
                    }
                  }
                  .rage {
                    input[type="text"] {
                      width: 40px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    select {
      padding: 4px;
      border: 1px solid #0003;
      border-radius: 4px;
    }
  }
}
.left-sub-app {
  display: flex;
  padding: 8px 3px 8px 8px;
  width: 250px;
  min-width: 250px;
  overflow: hidden;
  .list-department {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    background-color: #fff;
    box-shadow: 1px 2px 3px #0003;
    border-radius: 8px;
    overflow: hidden;
    padding: 4px 0px;
    .items {
      display: flex;
      cursor: pointer;
      padding: 8px 10px;
      transition: all 0.3s;
      align-items: center;
      width: -webkit-fill-available;
      .name {
        font-size: 13px;
        font-weight: 500;
        color: #818181;
      }
      .des {
        width: 180px;
        font-size: 11px;
        color: #c1c1c1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .right {
        opacity: 0.5;
        margin-left: auto;
        transition: all 0.3s;
        padding: 0px 5px 0px 0px;
      }
      &:hover {
        color: #000;
        .right {
          opacity: 1;
          margin-left: auto;
        }
      }
      &.actives {
        .name {
          font-size: 13px;
          font-weight: 500;
          color: #000;
        }
        .des {
          font-size: 11px;
          color: #000;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .right {
          opacity: 1;
          margin-left: auto;
          padding: 0px 0px 0px 0px;
        }
      }
    }
  }
}
.whitebox-config {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 2px 3px #0003;
  overflow: hidden;
  .config-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    box-shadow: 1px 1px 3px #0003;
    .right {
      display: flex;
      gap: 4px;
      align-items: center;
      button {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 11px;
        padding: 0px 10px;
        color: #fff;
        background-color: #24acb3;
        outline: none;
        border: hidden;
        height: 30px;
        transition: all 0.3s;
        &:hover {
          background-color: #19c6da;
        }
        i {
          margin-top: 3px;
        }
        &.delete {
          background-color: #b06161;
          &:hover {
            background-color: #e02222;
          }
        }
      }
    }
    .title {
      font-weight: 500;
      font-size: 14px;
      width: 60%;
      input {
        outline: none;
        width: -webkit-fill-available;
      }
    }
  }
  .config-main {
    display: flex;
    flex-direction: column;
    .items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #0002;
      padding: 2px 12px;
      &:first-child {
        border-top: hidden;
      }
      .left {
        padding: 5px;
        display: flex;
        flex-direction: column;
        width: -webkit-fill-available;
        input {
          width: -webkit-fill-available;
          outline: none;
          border-bottom: 1px solid #fff;
          transition: all 0.3s;
          &:focus {
            border-bottom: 1px solid #999;
          }
        }
        .name {
          font-size: 14px;
          font-weight: 400;
        }
        .details {
          font-size: 12px;
          color: #999;
        }
      }
      .right {
        display: flex;
        gap: 8px;
        padding: 4px 8px;
        align-items: center;
        button {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 13px;
          padding: 0px 4px 0px 10px;
          color: #fff;
          outline: none;
          border: hidden;
          transition: all 0.3s;
          i {
            margin-top: 3px;
          }
          &.delete {
            color: #be9292;
            &:hover {
              color: #e02222;
            }
          }
        }
        .heso {
          display: flex;
          gap: 5px;
          align-items: center;
          font-size: 12px;
          white-space: nowrap;
          input {
            border: 1px solid #0003;
            padding: 4px 5px;
            width: 50px;
            border-radius: 6px;
            outline: none;
          }
        }
        .tinhluong {
          select {
            border: 1px solid #0003;
            padding: 4px;
            font-size: 13px;
            border-radius: 6px;
            outline: none;
          }
        }
        input[type="time"] {
          font-size: 13px;
          border: 1px solid #c7c7c7;
          padding: 4px 8px;
          border-radius: 8px;
          outline: none;
        }
      }
    }
  }
}
.ngay-config {
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.list-ngay {
  display: flex;
  gap: 6px;
  padding: 8px;
  background-color: #d6dbe4;
  position: sticky;
  top: 0;
  .items {
    padding: 8px 12px;
    font-size: 13px;
    color: #aaaaaa;
    border-radius: 6px;
    background-color: #ffffff66;
    transition: all 0.3s;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      color: #000;
      background-color: #fff;
    }
    &.active {
      color: #000;
      background-color: #fff;
      box-shadow: 1px 2px 3px #0003;
    }
  }
}
